@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

h1{
    color: bisque;
}
body{
    background-color: rgb(183, 201,18);
}
#sd{
    color: darkcyan;
    font-family: 'Caveat', cursive;

}
.td{
color: darkolivegreen;
}
.td{
    font-family: 'Cookie', cursive;
}
div{
    border: solid 1px rgb(rgb(168, 108, 108), rgb(41, 131, 41), rgb(7, 7, 248));
width: 30%;
height:235px;
float: left;
background-color: rgb(41, 131, 41);
color: rgb(255, 9, 9);
text-align: left;
}
#id2{
    background-color: rgb(89, 224, 134);
}
div img{
    height: 30%;
    width: 100%;
}


