div{
    height: 300px;
    width: 30%;
    border: black;
    margin-left: 100px;
}
#box1{
    background-color: blueviolet;

}
#box2{
    background-color: coral;
    margin-left: 200px;
    margin-top: 200px;
}